/* styles the caption for the homepage*/
.homeCaption{
  z-index:1;
  position:absolute;
  right:20%;
  width:60%;
  top:20%;
}

/*styles the caption for the home image*/
.homeImage{
z-index: 0;
}

/*dynamically sizes my name heading not working so fix this*/
.name{
  font-size: 5rem;
}
@include media-breakpoint-up(sm) {
  .name {
    font-size: 3rem;
  }
}
@include media-breakpoint-up(md) {
  .name {
    font-size: 5rem;
  }
}

@include media-breakpoint-up(lg) {
  .name {
    font-size: 8rem;
  }
}
