/* styles the caption for the homepage*/
.homeCaption{
  z-index:1;
  position:absolute;
  right:10%;
  width:80%;
  top:10%;
}

/*styles the home image*/
.homeImage{
z-index: 0;
}

/*dynamically sizes my name heading not working so fix this*/
.name{
  font-size: 30px;

}

/*styles the text on the home section*/
.homepageBlurb{
  font-size: 15px;
}


@media only screen and (min-width: 600px ) {
  .name{
  font-size: 50px;
  }
  .homepageBlurb{
    font-size: 20px;
  }
  .homeCaption{
    right:20%;
    width:60%;
    top:15%;
  }
}
@media only screen and (min-width:  800px) {
  .name{
  font-size: 70px;
  }

  .homeCaption{
    right:20%;
    width:60%;
    top:20%;
  }
}
@media only screen and (min-width:  1000px) {
  .name{
  font-size: 90px;
  }
  .homeCaption{
    top:25%;
  }
}
